.react-slidedown {
    height: 0;
    transition-property: none;
    transition-duration: .5s;
    transition-timing-function: ease-in-out
}

.react-slidedown.transitioning {
    overflow-y: hidden
}

.react-slidedown.closed {
    display: none
}

@font-face {
    font-family: icomoon;
    src: url(/_next/static/media/icomoon.33fbf399.eot);
    src: url(/_next/static/media/icomoon.33fbf399.eot) format("embedded-opentype"), url(/_next/static/media/icomoon.59d39793.ttf) format("truetype"), url(/_next/static/media/icomoon.c5685148.woff) format("woff"), url(/_next/static/media/icomoon.25cee7b0.svg) format("svg");
    font-weight: 400;
    font-style: normal;
    font-display: block
}

._icomoon_icomoon__kSP5e {
    font-family: icomoon !important;
    speak: never;
    font-style: normal;
    font-weight: 400;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

._icomoon_icon-arrow__TxeLE:before {
    content: "";
    color: #fff
}

._icomoon_icon-suitcase__tf2nY:before {
    content: ""
}

._icomoon_icon-youtube__EtDev:before {
    content: ""
}

._icomoon_icon-linkedin__JopH2:before {
    content: ""
}

._icomoon_icon-twitter__F23Ho:before {
    content: ""
}

._icomoon_icon-insta__dliPZ:before {
    content: ""
}

._icomoon_icon-facebook__H9_Cl:before {
    content: ""
}

._icomoon_icon-pin__O4r6r:before {
    content: ""
}

._icomoon_icon-phone__nwXEH:before {
    content: ""
}

._icomoon_icon-bell__jW_Za:before {
    content: ""
}

._icomoon_icon-mail__G47JI:before {
    content: ""
}

._icomoon_icon-chat__yJ_84:before {
    content: ""
}

._icomoon_icon-search___NAvZ:before {
    content: ""
}

._icomoon_icon-gear__FX_te:before {
    content: ""
}

.news-card_news-card__K3hpN {
    border: 1px solid var(--theme-ui-colors-bg_overlay_hover);
    min-height: 555px;
    margin-bottom: 1.725rem
}

.news-card_news-card__img-container__XtZAm {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: .8rem;
    justify-content: flex-end
}

.news-card_news-card__img-container__XtZAm:after {
    content: "";
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: transparent linear-gradient(0deg, var(--theme-ui-colors-primary) 0, #fff 100%) 0 0 no-repeat padding-box;
    background-size: cover
}

.news-card_news-card__img-container__XtZAm img {
    position: absolute;
    inset: 0 0 0 0;
    -o-object-fit: cover;
    object-fit: cover;
    max-width: 100%;
    z-index: 0
}

.news-card_news-card__img-container__XtZAm button {
    margin-bottom: .3rem
}

.news-card_news-card__content__q9qVN {
    padding: 1.25rem
}

.news-card_news-card__title__kvCnq {
    color: var(--theme-ui-colors-main_color);
    font-size: 22px
}

.news-card_news-card__title__kvCnq a {
    color: var(--theme-ui-colors-main_color);
    line-height: 1.5
}

.news-card_news-card__subtitle__Bq1l8 {
    color: var(--theme-ui-colors-main_color);
    font-size: .85rem
}

.news-card_news-card__button__JdS3J {
    font-family: var(--light-theme-font);
    position: absolute;
    bottom: .8rem
}

@media(max-width:767px) {
    .news-card_news-card__button__JdS3J {
        display: none
    }
}

.news-card_news-card__info__Dtrlm {
    display: flex;
    color: var(--theme-ui-colors-main_color)
}

.news-card_news-card__info__Dtrlm strong {
    font-family: var(--bold-theme-font);
    font-size: .8rem;
    margin-bottom: .2rem;
    display: block
}

.news-card_news-card__info__Dtrlm .news-card_clock__71WnL img {
    min-width: 15px;
    min-height: 15px
}

.news-card_news-card__info__Dtrlm a,
.news-card_news-card__info__Dtrlm span {
    display: inline-block;
    font-size: .75rem
}

.news-card_news-card__info-content__dmtjK {
    -webkit-margin-start: .5rem;
    margin-inline-start: .5rem
}

.news-card_news-card__K3hpN p {
    font-family: var(--light-theme-font);
    font-size: .8rem;
    line-height: 2
}

@media(min-width:1200px) {
    .news-card_news-card__title__kvCnq {
        height: 104px;
        overflow: hidden
    }
    .news-card_news-card__summary__xsv3G {
        min-height: 155px;
        overflow: hidden
    }
    .news-card_news-card__info-body__oWxNL {
        height: 18px;
        overflow: hidden
    }
    .news-card_news-card__info__Dtrlm:hover .news-card_news-card__info-body__oWxNL {
        height: auto
    }
}