.react-slidedown {
    height: 0;
    transition-property: none;
    transition-duration: .5s;
    transition-timing-function: ease-in-out
}

.react-slidedown.transitioning {
    overflow-y: hidden
}

.react-slidedown.closed {
    display: none
}

@font-face {
    font-family: icomoon;
    src: url(/_next/static/media/icomoon.33fbf399.eot);
    src: url(/_next/static/media/icomoon.33fbf399.eot) format("embedded-opentype"), url(/_next/static/media/icomoon.59d39793.ttf) format("truetype"), url(/_next/static/media/icomoon.c5685148.woff) format("woff"), url(/_next/static/media/icomoon.25cee7b0.svg) format("svg");
    font-weight: 400;
    font-style: normal;
    font-display: block
}

._icomoon_icomoon__kSP5e {
    font-family: icomoon !important;
    speak: never;
    font-style: normal;
    font-weight: 400;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

._icomoon_icon-arrow__TxeLE:before {
    content: "";
    color: #fff
}

._icomoon_icon-suitcase__tf2nY:before {
    content: ""
}

._icomoon_icon-youtube__EtDev:before {
    content: ""
}

._icomoon_icon-linkedin__JopH2:before {
    content: ""
}

._icomoon_icon-twitter__F23Ho:before {
    content: ""
}

._icomoon_icon-insta__dliPZ:before {
    content: ""
}

._icomoon_icon-facebook__H9_Cl:before {
    content: ""
}

._icomoon_icon-pin__O4r6r:before {
    content: ""
}

._icomoon_icon-phone__nwXEH:before {
    content: ""
}

._icomoon_icon-bell__jW_Za:before {
    content: ""
}

._icomoon_icon-mail__G47JI:before {
    content: ""
}

._icomoon_icon-chat__yJ_84:before {
    content: ""
}

._icomoon_icon-search___NAvZ:before {
    content: ""
}

._icomoon_icon-gear__FX_te:before {
    content: ""
}

.reports_img_container__Qy2pv {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: .8rem;
    justify-content: flex-end
}

.reports_img_container__Qy2pv:after {
    content: "";
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: transparent linear-gradient(0deg, #00a19bcc, #a4cecc00) 0 0 no-repeat padding-box;
    background-size: cover
}

.reports_img_container__Qy2pv button {
    min-width: 150px
}

.reports_summary__ygs_g {
    font-family: var(--regular-theme-font);
    font-size: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 200px
}

.reports_iconsContainer__I8pcf>div:last-child {
    flex: 1 1;
    justify-content: center
}

@media(max-width:480px) {
    .reports_iconsContainer__I8pcf>div:last-child {
        justify-content: flex-start
    }
}

.reports_iconsContainer__I8pcf .reports_with_icon__vIjuD {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px
}

.reports_iconsContainer__I8pcf .reports_with_icon__vIjuD>div:first-child {
    -webkit-margin-end: .5rem;
    margin-inline-end: .5rem
}

@media(max-width:480px) {
    .reports_iconsContainer__I8pcf {
        flex-direction: column
    }
}

.reports_with_icon__vIjuD {
    margin-top: 15px;
    margin-bottom: 15px
}

.reports_with_icon__vIjuD>div:first-child {
    -webkit-margin-end: .5rem;
    margin-inline-end: .5rem
}

.ip-card_ip-card__UShza {
    border: 1px solid var(--theme-ui-colors-bg_overlay_hover);
    min-height: 420px;
    margin-bottom: 1.725rem
}

.ip-card_ip-card__img-container__jkMHN {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end
}

@media(max-width:580px) {
    .ip-card_ip-card__img-container__jkMHN {
        height: 300px
    }
}

@media(min-width:450px)and (max-width:770px) {
    .ip-card_ip-card__img-container__jkMHN {
        height: 300px
    }
}

.ip-card_ip-card__img-container__jkMHN:after {
    content: "";
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: transparent linear-gradient(0deg, var(--theme-ui-colors-primary) 0, #a4cecc00 100%) 0 0 no-repeat padding-box;
    background-size: cover
}

.ip-card_ip-card__content__bWykg {
    padding: 1.25rem
}

.ip-card_ip-card__title__qMlJ0 {
    color: var(--theme-ui-colors-main_color);
    font-size: 1.4rem
}

@media(max-width:480px) {
    .ip-card_ip-card__title__qMlJ0 {
        font-size: 1.8rem
    }
}

.ip-card_ip-card__subtitle__p9cDr {
    color: var(--theme-ui-colors-main_color);
    font-size: .85rem
}

@media(max-width:480px) {
    .ip-card_ip-card__subtitle__p9cDr {
        font-size: 1.4rem
    }
}

.ip-card_ip-card__button__Ll1HL {
    font-family: var(--light-theme-font);
    position: absolute;
    bottom: .8rem;
    width: 90%;
    right: 5%;
    left: 5%
}

@media(max-width:767px) {
    .ip-card_ip-card__button__Ll1HL {
        display: none
    }
}

.ip-card_ip-card__UShza p {
    font-family: var(--light-theme-font);
    font-size: .8rem;
    line-height: 2
}

@media(max-width:480px) {
    .ip-card_ip-card__UShza p {
        font-size: 1.2rem
    }
}

.search-engines_mainContainer__Pmpov {
    min-height: 350px
}

.search-engines_mainContainer__Pmpov .search-engines_imageContainer__lGGSU {
    background: transparent linear-gradient(0deg, var(--theme-ui-colors-main_color) 0, #fff 150%) 0 0 no-repeat padding-box;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    position: relative
}

@media(max-width:468px) {
    .search-engines_mainContainer__Pmpov .search-engines_imageContainer__lGGSU {
        height: 250px
    }
    .search-engines_mainContainer__Pmpov .search-engines_imageContainer__lGGSU button {
        align-self: center
    }
}

.search-engines_mainContainer__Pmpov .search-engines_imageContainer__lGGSU:before {
    content: "";
    width: 20px;
    height: 20px;
    background-color: var(--theme-ui-colors-bg_overlay_hover);
    position: absolute;
    top: 0;
    left: 0
}

.search-engines_mainContainer__Pmpov .search-engines_imageContainer__lGGSU button {
    position: absolute
}

.page-hero_hero__GjvDx {
    position: relative;
    color: #fff;
    padding: 60px 0;
    min-height: 450px;
    background: transparent linear-gradient(270deg, var(--theme-ui-colors-primary) 0, #fff 150%) 0 0 no-repeat padding-box
}

.page-hero_hero__title__tpXkF {
    margin: 0 0 2rem;
    color: #fff;
    font-size: 2.5rem;
    font-family: var(--italic-bold-theme-font)
}

@media(max-width:820px) {
    .page-hero_hero__title__tpXkF {
        font-size: 1.8rem
    }
}

.page-hero_hero__title__tpXkF:after {
    content: "";
    display: inline-block;
    background-color: #fff;
    width: 40px;
    height: 40px;
    -webkit-margin-start: 1rem;
    margin-inline-start: 1rem
}

@media(max-width:480px) {
    .page-hero_hero__title__tpXkF:after {
        width: 20px;
        height: 20px
    }
}

.page-hero_hero__subtitle__Rmwke {
    font-family: var(--regular-theme-font);
    font-size: calc(var(--font-size) + 2px);
    text-align: justify;
    line-height: 35px
}

@media(max-width:480px) {
    .page-hero_hero__subtitle__Rmwke {
        font-size: .75rem
    }
}

.page-hero_hero__video-btn__vdoSR {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 40px;
    background-color: #fff;
    color: var(--theme-ui-colors-main_color);
    border-radius: 0;
    padding: 1.3rem 1.8rem
}

.page-hero_hero__video-btn__vdoSR i[class~=fas] {
    display: block;
    -webkit-margin-end: 1rem;
    margin-inline-end: 1rem;
    font-size: 2.5rem
}

[dir=ltr] .page-hero_hero__video-btn__vdoSR {
    left: auto;
    right: 0
}

.brief-tab_mainSection__2xm44 h2,
.brief-tab_relatedLinksContainer__H9Imc h2,
.brief-tab_relatedLinksContainer__H9Imc h4 {
    color: var(--theme-ui-colors-main_color)
}

.brief-tab_relatedLinksContainer__H9Imc .brief-tab_relatedLinks__v5guk {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid var(--theme-ui-colors-bg_overlay);
    justify-content: space-between;
    align-items: center
}

.brief-tab_relatedLinksContainer__H9Imc .brief-tab_relatedLinksContent__LJk48 {
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
    color: var(--theme-ui-colors-main_color);
    font-size: .9rem
}

.brief-tab_relatedLinksContainer__H9Imc .brief-tab_relatedLinksContent__LJk48 p {
    margin-bottom: 0
}

.brief-tab_sectionStyle__TpB9t {
    border: 2px solid var(--theme-ui-colors-bg_overlay)
}

.brief-tab_sectionStyle__TpB9t .brief-tab_depositContainer__F941l {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
}

.brief-tab_sectionStyle__TpB9t .brief-tab_depositContainer__F941l .brief-tab_depositContent__PQJzc {
    border: 2px solid var(--theme-ui-colors-bg_overlay);
    padding: 2rem;
    width: 90%;
    color: var(--theme-ui-colors-main_color)
}

.brief-tab_sectionStyle__TpB9t .brief-tab_depositContainer__F941l .brief-tab_depositContent__PQJzc span {
    font-size: 1.5rem
}

.brief-tab_sectionStyle__TpB9t .brief-tab_depositContainer__F941l>div:last-child {
    color: var(--theme-ui-colors-blue)
}

.brief-tab_sectionPieStyle__IszI5 {
    border: 2px solid var(--theme-ui-colors-bg_overlay)
}

.brief-tab_sectionPieStyle__IszI5 canvas {
    width: 350px !important;
    height: 350px !important
}

.brief-tab_sectionCountryStyle__p0PVo,
.brief-tab_sectionFieldStyle__UHr6d {
    border: 2px solid var(--theme-ui-colors-bg_overlay)
}

.brief-tab_sectionCountryStyle__p0PVo h4,
.brief-tab_sectionFieldStyle__UHr6d h4 {
    color: var(--theme-ui-colors-main_color);
    padding: 1.5rem
}

.brief-tab_sectionCountryStyle__p0PVo canvas,
.brief-tab_sectionFieldStyle__UHr6d canvas {
    width: 150px !important;
    height: 150px !important
}

.brief-tab_sectionBarStyle__LfdfU {
    border: 2px solid var(--theme-ui-colors-bg_overlay)
}

.brief-tab_sectionBarStyle__LfdfU h4 {
    color: var(--theme-ui-colors-main_color);
    padding: 1.5rem
}

.brief-tab_checkboxContainer__jIq6L {
    background: #f2fafa;
    border: 2px solid var(--theme-ui-colors-bg_overlay);
    padding: .5rem;
    display: flex;
    flex-direction: column;
    margin: 1rem 0
}

.brief-tab_checkboxContainer__jIq6L label {
    color: var(--theme-ui-colors-main_color);
    font-size: .6rem
}

.brief-tab_checkboxContainer__jIq6L .brief-tab_mainLabel__8UgBY {
    font-weight: 700;
    font-size: .8rem;
    color: var(--theme-ui-colors-main_color)
}